.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  background-color: blue;
  color: white;
  border-radius: 5px;
}

.iconsContainer {
  display: flex;
  gap: 10px;
}

.important-btn {
  font-size: 18px;
  cursor: pointer;
}










/* .todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.complete {
  text-decoration: line-through;
}

.iconsContainer {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.important-btn {
  margin-right: 5px;
  width: 20px;
  border-width: 1px;
  border-radius: 49%;
  padding: 1px;
  border-color: white;
  color: white;
  background: transparent;
}

.logout-button {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #f00;
  color: white;
  cursor: pointer;
  width: 10%;
  
} */



